@page "/admin"
@using BarriolympicsRadzen.Data
@using BarriolympicsRadzen.Data.Models
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext context
<h1>Admin</h1>

<RadzenRow Style="width:100%">

<RadzenTabs Style="width:100%">
    <Tabs>
        <RadzenTabsItem Text="Game Types">
            
        </RadzenTabsItem>
        
        <RadzenTabsItem Text="Games">
            <BarriolympicsRadzen.Components.Pages.CRUD.Juegos.JuegoCrud></BarriolympicsRadzen.Components.Pages.CRUD.Juegos.JuegoCrud>
        </RadzenTabsItem>
        
        <RadzenTabsItem Text="Game Images">
            <BarriolympicsRadzen.Components.Pages.CRUD.JuegosImagen.ImagenesJuegoCrud></BarriolympicsRadzen.Components.Pages.CRUD.JuegosImagen.ImagenesJuegoCrud>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Barrieros">
            <BarriolympicsRadzen.Components.Pages.CRUD.Barriero.BarrieroCrud></BarriolympicsRadzen.Components.Pages.CRUD.Barriero.BarrieroCrud>
        </RadzenTabsItem>
                
        <RadzenTabsItem Text="Competencias">
            <BarriolympicsRadzen.Components.Pages.CRUD.Competencia.CompetenciaCrud></BarriolympicsRadzen.Components.Pages.CRUD.Competencia.CompetenciaCrud>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Eventos">
            <BarriolympicsRadzen.Components.Pages.CRUD.Eventos.EventoCrud></BarriolympicsRadzen.Components.Pages.CRUD.Eventos.EventoCrud>
        </RadzenTabsItem>
        
        <RadzenTabsItem Text="Copas">
            <BarriolympicsRadzen.Components.Pages.CRUD.Copa.CopaCrud></BarriolympicsRadzen.Components.Pages.CRUD.Copa.CopaCrud>
        </RadzenTabsItem>
        
        <RadzenTabsItem Text="Cup Types">
        </RadzenTabsItem>
        @*
        <RadzenTabsItem Text="Events">
            <CRUD TEntity="Evento" 
        </RadzenTabsItem>*@
    </Tabs>
</RadzenTabs>

</RadzenRow>